@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    color: #ffd17b;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #ffd17b;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  .container {
    background-size: cover;
    background-position: center;
    color: #ffd17b;
    text-transform: uppercase;
    padding: 2rem;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
